.chat-main(data-group-id = "#{@group.id}")
  .chat-main__group-info
    .main-name
      = @group.name
    .main-edit
    =link_to edit_group_path(@group) ,class: "edit-btn" do
      Edit
    .main-member
      - @group.users.each do |users| 
        = users.name
  .chat-main__message-list
    = render @messages
  -#   .chat-main__message-list__user
  -#     .chat-main__message-list__user__name
  -#       -# = message.user.name
  -#     .chat-main__message-list__user__time
  -#       -# = messages.created_at.strftime("%Y/%m/%d %H:%M")
  -#   .chat-main__message-list__message
  -#     -# - if message.message.present?
  -#       %p.lower-message__content
  -#         -# = message.content
  -#     -# = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
  = form_for [ @group, @message ] do |f|
    .input-box
      = f.text_field :message, class: "form__message", placeholder: "type a message"
      = f.label :image, class: "input-box__label" do
        = icon("far", "image", class: "image-icon")
        = f.file_field :image, class:"image-input"
    = f.submit 'Send', class: "submit-btn"